{% extends 'movie/index.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="display-1">Add Movie</h1>
        </div>

        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {% for field in add %}
                    <div class="col-12" class="lead">{{ field.label }}</div>
                    <div class="col-12">{{ field }}</div>
                {% endfor %}
            </div>
            <div class="row" style="padding: 20px;">
                <button type="submit" class="btn btn-lg btn-warning form-control" style="pading:20px">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
