<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Movie App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-movie' %}">Add Movies</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="{% url 'admin:index' %}" class='navbar-link btn-lg'>Admin</a>
        </form>
    </div>
</nav>
<br>

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for movie in shelf %}
                <div class="card col-lg-3" data-id="{{ movie. id>" >
                        <img class="card-img-top" src = "{{ movie.poster.url }}">
                        <div class="card-body c1" style="position: relative;top:-80px;">
                        <div class="row" style="background: #000 ; padding-top: 10px; padding-bottom: 10px; opacity: 0.35;color:white ;">
                        <h3 class="col-lg-9">{{ movie.realisateur }}</h3>
    	<h3 class=" col-lg-3">{{ movie.annee }}</h3>
                </div>
                </div>
                <div class="card-footer" style="position: relative;top:-80px;">
                    <a href="update/{{ movie.id }}" class="btn btn-warning" id='{{ movie.id }}'>Edit</a>
                    <a href="delete/{{ movie.id }}" class="btn btn-danger" id='{{ movie.id }}'>Delete</a>
                </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
</body>
</html>
